<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "partials/meta-info.html" %}

    <style>{% include "css/critical.css" %}</style>

    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>{% include item %}</style>
      {% endfor %}
    {% endif %}
  </head>
  <body></body>
    

    <div class="site-wrap">
      <a class="skip-link" href="#main-content">Skip to main content.</a>
      <header id = "header">
        <nav>
          <ul>
            <li>
              <a href="#Home" >Home</a>
            </li>
            {% for section in collections.sections %}
            <li>
              <a href="#{{section.data.path}}" >{{ section.data.path | safe}}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      <div class="background" id="particles-js"></div>

      <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
      </main>

      <footer id = "footer">Built with help from <a href="https://www.11ty.dev/">Eleventy</a></footer>  
    </div>
    

    {% if pageCriticalJS %}
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        {% for file in pageCriticalJS %}
        {% set js %}
        {% include file %}
        {% endset %}

        {{ js | safe }}
        {% endfor %}
      })
    </script>
    {% endif %}
  </body>
  <script>

    mainHeight = document.getElementById('main-content').offsetHeight; 
    footerHeight = document.getElementById('footer').offsetHeight; 
    headerHeight = document.getElementById('header').offsetHeight; 
    fullHeight = mainHeight + footerHeight + headerHeight; 
    document.getElementById('particles-js').setAttribute("style","height:"+fullHeight+"px");
    particlesJS('particles-js',
      
      {
        "particles": {
          "number": {
            "value": 80,
            "density": {
              "enable": true,
              "value_area": 800
            }
          },
          "color": {
            "value": "#000000"
          },
          "shape": {
            "type": "circle",
            "stroke": {
              "width": 0,
              "color": "#000000"
            },
            "polygon": {
              "nb_sides": 5
            },
            "image": {
              "src": "img/github.svg",
              "width": 100,
              "height": 100
            }
          },
          "opacity": {
            "value": 1,
            "random": false,
            "anim": {
              "enable": false,
              "speed": 1,
              "opacity_min": 1,
              "sync": false
            }
          },
          "size": {
            "value": 5,
            "random": true,
            "anim": {
              "enable": false,
              "speed": 40,
              "size_min": 0.1,
              "sync": false
            }
          },
          "line_linked": {
            "enable": true,
            "distance": 150,
            "color": "#000000",
            "opacity": 1,
            "width": 2
          },
          "move": {
            "enable": true,
            "speed": 6,
            "direction": "none",
            "random": false,
            "straight": false,
            "out_mode": "out",
            "attract": {
              "enable": false,
              "rotateX": 600,
              "rotateY": 1200
            }
          }
        },
        "interactivity": {
          "detect_on": "window",
          "events": {
            "onhover": {
              "enable": true,
              "mode": "repulse"
            },
            "onclick": {
              "enable": true,
              "mode": "push"
            },
            "resize": true
          },
          "modes": {
            "grab": {
              "distance": 400,
              "line_linked": {
                "opacity": 1
              }
            },
            "bubble": {
              "distance": 400,
              "size": 40,
              "duration": 2,
              "opacity": 8,
              "speed": 3
            },
            "repulse": {
              "distance": 200
            },
            "push": {
              "particles_nb": 4
            },
            "remove": {
              "particles_nb": 2
            }
          }
        },
        "retina_detect": true,
        "config_demo": {
          "hide_card": false,
          "background_color": "#b61924",
          "background_image": "",
          "background_position": "50% 50%",
          "background_repeat": "no-repeat",
          "background_size": "cover"
        }
      }

    );
  </script>

</html>
